.buttonGlobal {
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: #006eb0;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 1px solid #006eb0;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #006eb0;
  
    /* Centra el botón utilizando Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Asegura que el botón tenga un margen automático en lugar de un margen fijo */
    margin-left: auto;
    margin-right: auto;
  
    /* Hace el botón responsive ajustando el ancho máximo */
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
  }
  
  .buttonGlobal:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #de09bb;
  }
  
  .buttonGlobal:active {
    transform: scale(0.9);
  }
  
  @media (max-width: 0px) {
    .buttonGlobal {
      font-size: 16px;
      padding: 12px 40px
    }
  }